# JetBrains IDEs
.idea

# AWS SAM
.aws-sam

# CDK
.cdk.staging
cdk.out
bootstrap

# Testing
coverage.out
coverage.html

# Terraform / OpenTofu
.terraform
cdktf.out
cdktf.log
*terraform.tfstate*
*terraform.tfplan*
generated
!bootstrap/